@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    font-family: 'Roboto', sans-serif;
    background: url('https://storage.googleapis.com/proyek-1/images/background.png');
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 3rem;
}

/* Navbar */

nav{
    margin-top: 2rem;
    margin-bottom: 7.5rem;
}

nav .container{
    display: flex;
    align-items: center;
}

nav .container ul {
    display: flex;
    list-style: none;
    margin-left: 15rem;
}

nav .container ul li a{
    font-size: 5rem;
    text-decoration: none;
    margin-left: 4rem;
    color: #0ed8b6;
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
    transition: border 0.5s;
    padding: 0.25rem;
}

nav .container ul li a:hover{
    border-bottom: 3px solid #0ed8b6;
    border-top: 3px solid #0ed8b6;
}

/* Showcase */

header .container{
    display: flex;
    justify-content: space-between;
}

.showcase-image{
    margin-left: 10rem;
}

.showcase-text h1{
    font-size: 5rem;
    font-weight: 400;
    color: #0ed8b6;
    margin-bottom: 3.2rem;
}

.showcase-text h2{
    font-size: 4.8rem;
    font-weight: 400;
    color: rgb(112, 100, 100);
    margin-bottom: 4rem;
    line-height: 10px;
}

.showcase-text p{
    font-size: 1.6rem;
    line-height: 225%;
    margin-bottom: 4.5rem;
    color: rgb(151, 146, 146);
}

.showcase-text .btn{
    font-size: 2rem;
    text-decoration: none;
    background: #0ed8b6;
    color: #fff;
    padding: 2.2rem 5.8rem;
    display: inline-block;
    border-radius: 30px;
    letter-spacing: 4px;
    transition: background 0.5s;
}

.showcase-text .btn:hover{
    background: #0ed8b6;
}